@import "tailwindcss";
@plugin "daisyui";

/* STYLEGUIDE: Replace theme colors based on your STYLEGUIDE.md */
@theme {
  --color-primary: #2563eb;
  --color-secondary: #7c3aed;
  --color-accent: #f59e0b;
}
